@font-face {
    font-family: 'Star Next';
    src: url('./starnext.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background: url(../imgs/backgroundimg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    padding: 0;
    margin: 0;
}

.tng_heading {
    font-family: 'Star Next';
    color: #0099f6;
    text-align: center;
    margin-top: 2%;
}

#tng_warning {
    font-family: 'Star Next';
    color: orange;
    text-align: center;
    margin-top: 2%;
    display: none;
}

#tng_danger {
    font-family: 'Star Next';
    color: red;
    text-align: center;
    margin-top: 2%;
    display: none ;
}

.tng {
    font-family: 'Star Next';
    color: goldenrod;
    text-align: center;
    margin-top: 2%;
    font-size: 1.17em;
}

.tng_th {
    font-family: 'Star Next';
    color: white;
    text-shadow: 2px 2px 8px #0099f6;
    text-align: center;
    margin-top: 2%;
    font-size: 1.5em;
}


#loser {
    font-family: 'Star Next';
    color: green;
    text-align: center;
    margin-top: 2%;
    display: none;
}

.tbl_container {
    background: url(../imgs/tblbg.png) no-repeat center;
    background-size: cover;
    height: 500px;
    width: 450px;
    box-shadow: 0px 15px 15px 0px #0099f6;
    border-radius: 50%;
    margin-left: 2%;
    float: left;
}

th {
    padding: 3%;
    padding-top: 30%;
    text-align: center;
    font-size: 1.17em;
}

#guess_word {
    letter-spacing: 1.5em;
}

#play_again {
    display: none;
    text-align: center;
}
.tng_button {
    background: #0099f6;
    font-family: 'Star Next';
    font-weight: bold;
    color: white;
    border-radius: 25%;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2em;
}

.my_audio {
    display: none;
}